.footer-20192 {
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    margin-top: 0;
    border-radius: 5px;
}

.footerContainer {
    height: 50%;
}

.cta {
    background-color: #fff !important;
    margin: 0 !important;
    animation: aparecer;
    animation-duration: 3s;
    top: -50px !important;
    margin-bottom: 0;
}